* {
    font-family: "Epilogue", sans-serif;
    font-size: 1.3rem;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAV*/
li {
    list-style: none;
}

nav,
.logos-section,
.menu-items,
.cta-btns {
    display: flex;
    align-items: center; /*cross axis*/
}
  
nav {
    margin: 0 1.5rem 0 1.5rem;
    justify-content: space-between; /*main axis*/
}
  
.menu-items li,
.cta-btns li {
    font-size: 0.7rem;
    margin-right: 1rem;
    color: hsl(0, 0%, 41%);
}
  
.cta-btns li:nth-last-child(1) {
    border: 1px solid gray;
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
}

.icon {
    display: none;
}

/*MAIN*/
main {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8rem;
    height: 100vh;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
}

/*Text-side*/
main h1 {
    font-size: 3rem;
}
  
main p {
    font-size: 0.7rem;
    width: 18rem;
    color: hsl(0, 0%, 41%);
    line-height: 1rem;
}
  
main button {
    background-color: hsl(0, 0%, 8%);
    color: #fff;
    border: none;
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    margin-top: 0rem;
}
  
#text-side {
    margin-top: 3rem;
}

/* Client Logos */
.clients-logos img {
    width: 4rem;
}
  
.clients-logos {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
}
  
.clients-logos img:nth-child(2) {
    width: 7rem;
}

/*Img-side*/
.img-side img {
    margin-top: 2rem;
    width: 20rem;
}

/* Responsive */
@media ((min-width: 1200px) and (max-width: 1620px)) {
    .img-side {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: auto;
        column-gap: 8rem;
        height: 70vh;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1199px) {
    nav .logo {
        font-size: 1rem;
    }

    nav .menu-items li:not(:last-child) {
        display: none;
    }

    nav .icon {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: auto;
        column-gap: 8rem;
        height: 70vh;
        align-items: center;
        justify-content: center;
        width: 85%;
    }

    .clients-logos {
        margin: 3rem 0 3rem 0;
    }

    .img-side {
        display: none;
    }
}